.navbar { 
    background-color: #324b5f;
    color:#fff;
}

.content-block.notice a {
    color: #fff;
    text-decoration: underline;
}

a.back.link, a.back.link .icon {
    color: #fff;
}

.hidden{
    display: none !important;
}

.size-16 { font-size:16px; }

.icon-white { color: #fff; }

a.button, input[type=submit] {
    border: 1px solid;
}

.content-block-title{
    font-size: 18px;
    line-height: 20px;
}

.content-block.notice {
    background-color: #7b8e9c;
    padding: 10px;
    margin-top: 15px;
    color: #fff;
}

.song-list{
    margin: 0;
}

.song-list a {
    color:#000;
    text-decoration: underline;
}

.song-list td.label-cell, .song-list th.label-cell {
    padding-left: 0;
    padding-right: 0;
}

.song-list td, .song-list th {
    padding: 0;
    padding-left: 0;
    padding-right: 0;
}

.song-list td:first-child, .song-list th:first-child {
    padding-left: 10px;
    padding-right: 10px;
}

.song-list td:last-child, .song-list th:last-child {
    padding-right: 10px;
    padding-left: 10px;
}

.pull-lyrics-wrapper{
    position: absolute;
    top: 10px;
    bottom: 11px;
    right: 0;
    left: 92%;
}

.popup .blocks {
    display: inline-block;
}


.popup .blocks.close {
    position: absolute;
    top: 7px;
    right: 7px;
    bottom: 0;
    z-index: 2;
}

.info-box {
    margin: 0;
    padding: 0;
    background-image: url(../img/background.jpg);
    background-size: contain;
    height: 140px;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    display: table;
    width: 100%;
}

.info-box .content-block-inner {
    padding: 0;
    display: table-cell;
    vertical-align: middle;
}

.info-box .content-block-inner > div {
    background:rgba(0,0,0,0.3);
    padding:10px;
}

.popup .heading {
    padding: 10px 10px 0;
    text-align: left;
    background: #ff9800;
    color: #fff;
}

.popup .heading .song-head{
	position: relative;
	z-index:1;
	margin: 0;
}

.popup .heading .song-meta{
	margin: 7px 0;
}

.song-meta .chip-label {
    color: #fff;
}

.popup .lyrics-block{
	margin-top: 10px;
	overflow-y: scroll;
}

.main-content .song-list{
    overflow:scroll;
}

.icon-circle {
    border: 1px solid #bdbdbd;
    text-align: center;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    display: table-cell;
    vertical-align: middle;
}

.menu-icon .circle-orange{
    background-color: #de8b10;
    color: #fff;
}

.menu-icon .circle-blue{
    background-color: #2196f3;
    color: #fff;
}


.main-screen .row {
    margin-bottom: 20px;
}

.main-screen .row h4 {
    margin: 0;
}

.main-screen .row p {
    margin: 5px 0 0;
}

.col-75 .menu-description {
    background: #f5ecec;
    padding: 10px;
    border-radius: 5px;
    border: solid 1px #f5ecec;
}

.pointer{
    border: solid 10px transparent;
    border-right-color: #f5ecec;
    position: absolute;
    margin: -59px 0 0 -20px;
}

.col-25.menu-icon {
    top: 15px;
    position: relative;
}